main {
    display: flex;
    flex-wrap: wrap;
    padding: 95px;
}

.logo {
    cursor: pointer;
    width: 100%;
    padding: 75px;
}

main .back .logo {
    background: #ffffff;
    color: white;
}

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
    border: none;
    background: none;
    align-items: initial;
    text-align: initial;
    cursor: pointer;
    color: initial;
    /* position: relative; */
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 300px;
	height: 300px;
}

.flip-container:focus {
    outline: none;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

    position: relative;
    text-align: center;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
}

.back {
    	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

/* @keyframes changeColorPurple {
    0% {
        color: gray;
    }

    100% {
        color: purple;
    }
} */

main .front {
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

.red .animatable.run {
    animation-name: changeColorPurple;
}

.front svg * {
    fill: #ffffff!important;
}

body {
     background: #000000;
}

#mainLogo svg * {
    fill: #000000!important;
}

.logo svg {
    width: 100px;
}

h1#purpose {
    color: #000000;
    font-size: 27px;
    text-align: right;
    display: inline-block;
    width: 300px;
    vertical-align: top;
    width: calc(100% - 310px);
    text-align: right;
    float: right;
    font-weight: 300;
    position: relative;
}

h1#purpose span {
    width: 450px;
    display: inline-block;
}

h1#name {
    color: #000000;
    font-size: 49px;
    text-align: right;
    display: inline-block;
    width: 210px;
    vertical-align: top;
    text-align: left;
    float: right;
    font-weight: 600;
    padding: 0px 20px;
    position: relative;
    position: relative;
    bottom: -7px;
    line-height: 41px;
}

#mainLogo {
    background: #ffffff;
    padding: 95px;
    height: 100%
}

header {
    height: 100vh;
}

[href*="race-devil"] svg > g > :first-child {
    fill: #8e9fad;
}
[href*="race-devil"] svg > g > :nth-child(4) {
    fill: #c30000;
}
[href*="race-devil"] svg > g > :nth-child(5) {
    fill: #c30000;
}

.info-container {
    display: flex;
    background: #ffffff;
    flex-basis: 100%;
}

.info-container .left, .info-container .right {
    width: 50%; height: 100vh;
}

.info-container .right, .info-container .logo-inside {
    padding: 2rem;
}

.info-container .red .left > :first-child {
    background: red;
    color: white;
}

.info-container .red .left > :last-child {
    color: red;
    background: white;
}

.info-container .logo-inside {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 7rem;
}

.info-container .right h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    background: black;
    padding: 0.2rem 0.6rem;
    margin-bottom: 1rem;
    /* TODO: ordentliche monospace font*/
    font-family: monospace;
}

.info-container p.description {
    font-style: italic;
    color: #4a4a4a;
}

body .info-container svg {
    width: 30%;
    min-width: 100px;
}
.info-container .left > .logo-inside:first-of-type svg * {
    fill: #ffffff!important;
}

/* TODO: was besseres überlegen */
.flip-container * {
    pointer-events: none;
}

#fixed {
    position: fixed;
    right: 95px;
    top: 0;
}

#fixed .icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#fixed .icons i {
    background: #000000;
    color: #ffffff;
    padding: 20px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 50px;
}