main {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    padding: 5rem;
    cursor: pointer;
}

.logo i {
    font-size: 7rem;
}

.front {
    color: gray
}

main .back .logo {
    background: black;
    color: white;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 300px;
	height: 300px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

    position: relative;
    text-align: center;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

@keyframes changeColorRed {
    0% {
        color: gray;
    }

    100% {
        color: red;
    }
}

@keyframes changeColorGreen {
    0% {
        color: gray;
    }

    100% {
        color: green;
    }
}

@keyframes changeColorBlue {
    0% {
        color: gray;
    }

    100% {
        color: blue;
    }
}

@keyframes changeColorPurple {
    0% {
        color: gray;
    }

    100% {
        color: purple;
    }
}

main .front {
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

.red .animatable.run {
    animation-name: changeColorRed;
}

.green .animatable.run {
    animation-name: changeColorGreen;
}

.blue .animatable.run {
    animation-name: changeColorBlue;
}

.purple .animatable.run {
    animation-name: changeColorPurple;
}

.red .back .logo {
    /* background: red; */
}

.green .back .logo {
    /* background: green; */
}

.blue .back .logo {
    /* background: blue; */
}

.purple .back .logo {
    /* background: purple; */
}

.front svg * {
    fill: #909090!important;
}